body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

header {
    background-color: #A17BA2;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 113%;
    align-items: center
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 80px;
}


.nav-links a {
    color: #401d44;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-family: "Montserrat", sans-serif;
}

.nav-links a:hover {
    color: #FFB4D3;
}

.login {
    background-color: #CFB6CF;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 35px;

}

.logo {
    display: flex;
    justify-content: left;
    height: 46px;
    margin-left: -237px;
}

.container {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 78px;
}


.card {
    background-color: #b3e5fc;
    padding: 99px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 285px;
    text-align: left;
}

.left-card h2 {
    color: #5c2d91;
    font-size: 1rem;
}

.left-card h1 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.left-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.right-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -270px;
    margin-left: 92px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.image-container img {
    width: 311px;
    height: auto;
    border-radius: 50%;
}

.right-section h2 {
    color: #7D3A76;
    font-size: 2.3rem;
    margin: 10px 0;
    font-weight: bolder;
}

.right-section p {
    font-size: 1rem;
    color: #000;
    margin: 10px 0;
}

button {
    background-color: #b180d7;
    color: rgb(0, 0, 0);
    border: 2px solid #c7aae9;
    border-radius: 21px;
    font-size: 1rem;
    cursor: pointer;
    padding: 14px 16px;
}


/* learn pagina */

.software-developer-container {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.rectangle {

    background-color: #D4F2F4;
    width: 400px;
    height: 70px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: #75A1A4;
    box-shadow: 0px 2px 3px 2px #75A1A4;
}

.software-text {
    font-family: Arial, Helvetica, sans-serif;
    font: size 300px;
    font-weight: 900;
    color: #7783C1;
}

.paragraph-software-development-container {

    width: 650px;
    height: auto;
    margin-left: 500px;
    margin-top: 40px;
}

.paragraph1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.image-middle {
    width: 300px;
    height: 300px;
}

.paragraph-software-development-container2 {
    width: 650px;
    height: auto;
    margin-left: 500px;
    margin-top: 40px;

}

.Keuze {
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #7783C1;
}

.keuze-vakken-card-container {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.card1 {

    width: 400px;
    height: 350px;
    background-color: #D4F2F4;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #75A1A4;
    box-shadow: 0px 2px 3px 2px #a3afaf;
    margin-right: 20px;
}

.card2 {

    width: 400px;
    height: 350px;
    background-color: #D4F2F4;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #75A1A4;
    box-shadow: 0px 2px 3px 2px #a3afaf;
    margin-right: 20px;
}

.card3 {
    width: 400px;
    height: 350px;
    background-color: #D4F2F4;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #75A1A4;
    box-shadow: 0px 2px 3px 2px #a3afaf;
}

.rectangle-text {
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300;
    margin-bottom: 20px;

}

.algemene-vakken-conatiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}


.card-paragraph {

    padding: 20px;
}

.algemene {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #7783C1;
    margin-bottom: 20px;
}


.under-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.vakken-image {
    width: 80px;
    height: 80px;
    margin-top: 60px;
}


.vak1 {
    height: auto;
    width: 500px;
    margin-right: 50px;
}

.vak2 {
    height: auto;
    width: 560px;
    
}

.meer-over {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #7783C1;
}

.meer-over-paragraph {

    font-family: Arial, Helvetica, sans-serif;
}




footer {
    background-color: #6A4A87;
    padding: 10px 0;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 44px;
    padding-right: 111px;
}

.footer-container a img,
.footer-container .logo img {
    width: 40px;
    height: 40px;
}

.roclogo img {
    width: 80px;
    height: auto;
} 