body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

header {
  background-color: #a17ba2;
  padding: 15px 0px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 80px;
}

.nav-links a {
  color: #401d44;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffb4d3;
}

.login {
  background-color: #e6dae6;
  color: #000000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 35px;
  margin-right: -187px;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  border: none;
}

.logo {
  display: flex;
  justify-content: left;
  height: 46px;
  margin-left: -237px;
}

.container {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 78px;
}

.card {
  background-color: #b3e5fc;
  padding: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 249px;
  text-align: left;
}

.left-card h2 {
  color: #5c2d91;
  font-size: 1rem;
  margin-left: -66px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.left-card h1 {
  font-size: 1.5rem;
  margin: 10px 0;
  margin-left: -67px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.left-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: -68px;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}

.right-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -173px;
  margin-left: 92px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container img {
  width: 311px;
  height: auto;
  border-radius: 50%;
}

.right-section h2 {
  color: #7d3a76;
  font-size: 2.3rem;
  margin: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.right-section p {
  font-size: 1rem;
  color: #000;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}

.interessetest {
  background-color: #b180d7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 21px;
  font-size: 1rem;
  cursor: pointer;
  padding: 14px 16px;
}

/* learn pagina */

.software-developer-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.rectangle {
  background-color: #d4f2f4;
  width: 400px;
  height: 70px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: #75a1a4;
  box-shadow: 0px 2px 3px 2px #75a1a4;
}

.software-text {
  font-family: Arial, Helvetica, sans-serif;
  font: size 300px;
  font-weight: 900;
  color: #7783c1;
}

.paragraph-software-development-container {
  width: 650px;
  height: auto;
  margin-left: 500px;
  margin-top: 40px;
}

.paragraph1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.image-middle {
  width: 300px;
  height: 300px;
}

.paragraph-software-development-container2 {
  width: 650px;
  height: auto;
  margin-left: 500px;
  margin-top: 40px;
}

.Keuze {
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #7783c1;
}

.keuze-vakken-card-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.card1 {
  width: 400px;
  height: 350px;
  background-color: #d4f2f4;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #75a1a4;
  box-shadow: 0px 2px 3px 2px #a3afaf;
  margin-right: 20px;
}

.card2 {
  width: 400px;
  height: 350px;
  background-color: #d4f2f4;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #75a1a4;
  box-shadow: 0px 2px 3px 2px #a3afaf;
  margin-right: 20px;
}

.card3 {
  width: 400px;
  height: 350px;
  background-color: #d4f2f4;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #75a1a4;
  box-shadow: 0px 2px 3px 2px #a3afaf;
}

.rectangle-text {
  margin-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300;
  margin-bottom: 20px;
}

.algemene-vakken-conatiner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.card-paragraph {
  padding: 20px;
}

.algemene {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #7783c1;
  margin-bottom: 20px;
}

.under-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.vakken-image {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.vak1 {
  height: auto;
  width: 500px;
  margin-right: 50px;
}

.vak2 {
  height: auto;
  width: 560px;
}

.meer-over {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #7783c1;
}

.meer-over-paragraph {
  font-family: Arial, Helvetica, sans-serif;
}

.stages-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.stage-card {
  width: 400px;
  height: 200px;
  background-color: #eeddf8;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #a994b6;
  box-shadow: 0px 2px 3px 2px #a28aa6;
    width: 400px;
    height: 200px;
    background-color: #eeddf8;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #A994B6;
    box-shadow: 0px 2px 3px 2px #a28aa6;
    margin-bottom: 80px;
}

.stages-images {
  background-color: #fef8fe;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  padding-bottom: 40px;
}

.techonovium-roc {
  width: 180px;
  height: 150px;
}

.junior {
  background-color: #b180d7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 21px;
  font-size: 1rem;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 25px;
}

.easy-online {
  width: 210px;
  height: 100px;
}

.eazy {
  background-color: #b180d7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 21px;
  font-size: 1rem;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 25px;
}

.kijkalles {
  width: 150px;
  height: 100x;
}

.kijk {
  background-color: #b180d7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 21px;
  font-size: 1rem;
  cursor: pointer;
  padding: 14px 16px;
}

.kracht {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin-right: -155px;
  margin-top: 78px;
}

.paragraaf h2 {
  color: #6e6eb4;
  margin-left: -1px;
  margin-bottom: -14px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.paragraaf p {
  margin-left: 2px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}

.image-container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container2 img {
  width: 475px;
  height: auto;
  border-radius: 50%;
}

footer {
  background-color: #6a4a87;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 44px;
  padding-right: 111px;
}

.footer-container a img,
.footer-container .logo img {
  width: 40px;
  height: 40px;
}

.roclogo img {
  width: 80px;
  height: auto;
}

.opleidingen {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.opleidingen h2 {
  color: #3f2e56;
  font-size: 77px;
  margin-left: -66px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: -171px;
  margin-left: -420px;
}

.opleidingen p {
  margin-left: 114px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  text-align: left;
  margin-top: -48px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 60px;
  border: none;
  margin-left: -121px;
}

.button1 {
  background-color: #ffee9b;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 31px;
  font-size: 1rem;
  cursor: pointer;
  padding: 40px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 540;
}

.button2 {
  background-color: #d7fcf4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 31px;
  font-size: 1rem;
  cursor: pointer;
  padding: 40px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 540;
}

.button3 {
  background-color: #d86da0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 31px;
  font-size: 1rem;
  cursor: pointer;
  padding: 40px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 540;
}
footer {
  background-color: #65527f;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons a img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}
.imagelogo {
  width: 15px;
  height: auto;
  border-radius: 50%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.block {
  display: inline-block;
  padding: 30px 50px;
  border-radius: 25px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: transform 0.2s;
}

.block:hover {
  transform: scale(1.05);
}

.yellow {
  background-color: #ffea8b;
}

.mint {
  background-color: #cff6eb;
}

.pink {
  background-color: #f9b8bf;
}

.footer-contact {
  background-color: #65527f;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 50px;
  margin-top: 50px;
  width: 1323px;
}

.footer-right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.image-logo img {
  height: 40px;
}

.icons {
  display: flex;
  gap: 30px;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon img {
  width: 100%;
  height: 100%;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 44px;
  padding-right: 111px;
}

.footer-container a img,
.footer-container .logo img {
  width: 40px;
  height: 40px;
}

.roclogo img {
  width: 80px;
  height: auto;
}
.opleidingen {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.opleidingen h2 {
  color: #3f2e56;
  font-size: 77px;
  margin-left: -66px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: -171px;
  margin-left: -420px;
}
.opleidingen p {
  margin-left: 114px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  text-align: left;
  margin-top: -48px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 60px;
  border: none;
  margin-left: -121px;
}

.button1 {
  background-color: #ffee9b;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 31px;
  font-size: 1rem;
  cursor: pointer;
  padding: 40px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 540;
}

.button2 {
  background-color: #d7fcf4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 31px;
  font-size: 1rem;
  cursor: pointer;
  padding: 40px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 540;
}

.button3 {
  background-color: #d86da0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 31px;
  font-size: 1rem;
  cursor: pointer;
  padding: 40px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 540;
}
